@media only screen and (min-width: 1920px) {
	.capa_linea_datos {
		position:relative; 
		width:100%; 
		height:30; 
		text-align:center; 
		background-color:#FFF; 
		border:0px; 
		border-spacing:0px; 
		padding:3px; 
	}
	.capa_linea_datos_texto {
		position:relative; 
		width:100%; 
		height:250; 
		text-align:center; 
		background-color:#FFF; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.capa_tabla_datos {
		display:table; 
		width:100%; 
		height:100%; 
	}
	.capa_celda_datos_01 {
		display:table-cell; 
		width:20%; 
		text-align:right; 
		vertical-align:middle; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.capa_celda_datos_02 {
		display:table-cell; 
		width:80%; 
		text-align:left; 
		vertical-align:middle; 
		border:0px; 
		border-spacing:0px; 
		padding:3px; 
	}
	.capa_celda_datos_boton {
		display:table-cell; 
		width:50%; 
		text-align:center; 
		vertical-align:middle; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	#capa-ajax-ver-info {
		position:absolute; 
		left:60%; 
		top:10%; 
		width:25%; 
		height:60%; 
		border:1px solid black; 
		border-spacing:0px; 
		padding:0px; 
		border-radius:10px; 
		background-color:#FFFFFF;
		overflow:hidden;
	}
	.capa_tabla_elim_user {
		position:absolute; 
		display:table; 
		left:35%; 
		top:40%; 
		width:30%; 
		height:20%; 
		border:1px solid black; 
		border-spacing:0px; 
		padding:0px; 
		border-radius:10px; 
		background-color:#FFFFFF;
	}
	.capa_row_elim_user {
		display:table-row; 
		height:50%;
	}
	.capa_celda_elim_user {
		display:table-cell; 
		text-align:center; 
		vertical-align:middle; 
	}
	.boton_accion_del {
		width:100; 
		cursor:pointer;
	}
	.capa_tabla_reset_pwd {
		position:absolute; 
		display:table; 
		left:37%; 
		top:30%; 
		width:25%; 
		height:15%; 
		border:1px solid black; 
		border-spacing:0px; 
		padding:0px; 
		border-radius:10px; 
		background-color:#FFFFFF;
	}
	.capa_row_modif_user_01 {
		display:table-row; 
		height:35%;
	}
	.capa_row_modif_user_02 {
		display:table-row; 
		height:30%;
	}
	.capa_celda_modif_user {
		display:table-cell; 
		text-align:center; 
		vertical-align:middle; 
	}
}
@media only screen and ((min-width: 1280px) and (max-width: 1919px)) {
	.capa_linea_datos {
		position:relative; 
		width:100%; 
		height:30; 
		text-align:center; 
		background-color:#FFF; 
		border:0px; 
		border-spacing:0px; 
		padding:1px; 
	}
	.capa_linea_datos_texto {
		position:relative; 
		width:100%; 
		height:200; 
		text-align:center; 
		background-color:#FFF; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.capa_tabla_datos {
		display:table; 
		width:100%; 
		height:100%; 
	}
	.capa_celda_datos_01 {
		display:table-cell; 
		width:20%; 
		text-align:right; 
		vertical-align:middle; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.capa_celda_datos_02 {
		display:table-cell; 
		width:80%; 
		text-align:left; 
		vertical-align:middle; 
		border:0px; 
		border-spacing:0px; 
		padding:3px; 
	}
	.capa_celda_datos_boton {
		display:table-cell; 
		width:50%; 
		text-align:center; 
		vertical-align:middle; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	#capa-ajax-ver-info {
		position:absolute; 
		left:50%; 
		top:5%; 
		width:30%; 
		height:80%; 
		border:1px solid black; 
		border-spacing:0px; 
		padding:0px; 
		border-radius:10px; 
		background-color:#FFFFFF; 
	}
	.capa_tabla_elim_user {
		position:absolute; 
		display:table; 
		left:30%; 
		top:40%; 
		width:40%; 
		height:20%; 
		border:1px solid black; 
		border-spacing:0px; 
		padding:0px; 
		border-radius:10px; 
		background-color:#FFFFFF;
	}
	.capa_row_elim_user {
		display:table-row; 
		height:50%;
	}
	.capa_celda_elim_user {
		display:table-cell; 
		text-align:center; 
		vertical-align:middle; 
	}
	.boton_accion_del {
		width:100; 
		cursor:pointer;
	}
	.capa_tabla_reset_pwd {
		position:absolute; 
		display:table; 
		left:32%; 
		top:40%; 
		width:35%; 
		height:20%; 
		border:1px solid black; 
		border-spacing:0px; 
		padding:0px; 
		border-radius:10px; 
		background-color:#FFFFFF;
	}
	.capa_row_modif_user_01 {
		display:table-row; 
		height:35%;
	}
	.capa_row_modif_user_02 {
		display:table-row; 
		height:30%;
	}
	.capa_celda_modif_user {
		display:table-cell; 
		text-align:center; 
		vertical-align:middle; 
	}
}
@media only screen and ((min-width: 800px) and (max-width: 1279px)) {
	.capa_linea_datos {
		position:relative; 
		width:100%; 
		height:30; 
		text-align:center; 
		background-color:#FFF; 
		border:0px; 
		border-spacing:0px; 
		padding:1px; 
	}
	.capa_linea_datos_texto {
		position:relative; 
		width:100%; 
		height:150; 
		text-align:center; 
		background-color:#FFF; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.capa_tabla_datos {
		display:table; 
		width:100%; 
		height:100%; 
	}
	.capa_celda_datos_01 {
		display:table-cell; 
		width:20%; 
		text-align:right; 
		vertical-align:middle; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.capa_celda_datos_02 {
		display:table-cell; 
		width:80%; 
		text-align:left; 
		vertical-align:middle; 
		border:0px; 
		border-spacing:0px; 
		padding:3px; 
	}
	.capa_celda_datos_boton {
		display:table-cell; 
		width:50%; 
		text-align:center; 
		vertical-align:middle; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	#capa-ajax-ver-info {
		position:absolute; 
		left:40%; 
		top:2%; 
		width:55%; 
		height:90%; 
		border:1px solid black; 
		border-spacing:0px; 
		padding:0px; 
		border-radius:10px; 
		background-color:#FFFFFF; 
	}
	.capa_tabla_elim_user {
		position:absolute; 
		display:table; 
		left:22%; 
		top:40%; 
		width:55%; 
		height:20%; 
		border:1px solid black; 
		border-spacing:0px; 
		padding:0px; 
		border-radius:10px; 
		background-color:#FFFFFF;
	}
	.capa_row_elim_user {
		display:table-row; 
		height:50%;
	}
	.capa_celda_elim_user {
		display:table-cell; 
		text-align:center; 
		vertical-align:middle; 
	}
	.boton_accion_del {
		width:100; 
		cursor:pointer;
	}
	.capa_tabla_reset_pwd {
		position:absolute; 
		display:table; 
		left:22%; 
		top:37%; 
		width:55%; 
		height:25%; 
		border:1px solid black; 
		border-spacing:0px; 
		padding:0px; 
		border-radius:10px; 
		background-color:#FFFFFF;
	}
	.capa_row_modif_user_01 {
		display:table-row; 
		height:35%;
	}
	.capa_row_modif_user_02 {
		display:table-row; 
		height:30%;
	}
	.capa_celda_modif_user {
		display:table-cell; 
		text-align:center; 
		vertical-align:middle; 
	}
}
@media only screen and (max-width: 799px) {
	.capa_linea_datos {
		position:relative; 
		width:100%; 
		height:30; 
		text-align:center; 
		background-color:#FFF; 
		border:0px; 
		border-spacing:0px; 
		padding:0px; 
	}
	.capa_linea_datos_texto {
		position:relative; 
		width:100%; 
		height:100; 
		text-align:center; 
		background-color:#FFF; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.capa_tabla_datos {
		display:table; 
		width:100%; 
		height:100%; 
	}
	.capa_celda_datos_01 {
		display:table-cell; 
		width:30%; 
		text-align:right; 
		vertical-align:middle; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.capa_celda_datos_02 {
		display:table-cell; 
		width:70%; 
		text-align:left; 
		vertical-align:middle; 
		border:0px; 
		border-spacing:0px; 
		padding:3px; 
	}
	.capa_celda_datos_boton {
		display:table-cell; 
		width:50%; 
		text-align:center; 
		vertical-align:middle; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	#capa-ajax-ver-info {
		position:absolute; 
		left:0%; 
		top:2%; 
		width:100%; 
		height:95%; 
		border:1px solid black; 
		border-spacing:0px; 
		padding:0px; 
		border-radius:10px; 
		background-color:#FFFFFF; 
	}
	.capa_tabla_elim_user {
		position:absolute; 
		display:table; 
		left:5%; 
		top:40%; 
		width:90%; 
		height:20%; 
		border:1px solid black; 
		border-spacing:0px; 
		padding:0px; 
		border-radius:10px; 
		background-color:#FFFFFF;
	}
	.capa_row_elim_user {
		display:table-row; 
		height:50%;
	}
	.capa_celda_elim_user {
		display:table-cell; 
		text-align:center; 
		vertical-align:middle; 
	}
	.boton_accion_del {
		width:100; 
		cursor:pointer;
	}
	.capa_tabla_reset_pwd {
		position:absolute; 
		display:table; 
		left:0; 
		top:40%; 
		width:100%; 
		height:20%; 
		border:1px solid black; 
		border-spacing:0px; 
		padding:0px; 
		border-radius:10px; 
		background-color:#FFFFFF;
	}
	.capa_row_modif_user_01 {
		display:table-row; 
		height:35%;
	}
	.capa_row_modif_user_02 {
		display:table-row; 
		height:30%;
	}
	.capa_celda_modif_user {
		display:table-cell; 
		text-align:center; 
		vertical-align:middle; 
	}
}