@media only screen and (min-width: 1920px) {
	.capa_cont_tools_sitio {
		position:absolute; 
		left:68%; 
		top:1%; 
		width:31%; 
		height:98%; 
		background-color:#00CC00; 
		overflow:hidden; 
		background-image:url(../pics/tools.jpg); 
		background-position:center; 
		background-size:cover; 
		border-radius:10px; 
		cursor:pointer; 
	}
	.capa_tabla_tools_sitio {
		position:absolute; 
		display:table; 
		left:0; 
		top:100%; 
		height:25%; 
		width:100%; 
		background-color:#000000;
		transition: top .5s;
	}
	.capa_cont_tools_sitio:hover .capa_tabla_tools_sitio {
		transition: top .5s;
		top:75%;		
	}
	.capa_celda_tools_sitio {
		display:table-cell; 
		width:100%; 
		height:100%; 
		color:#FFFFFF; 
		font-size:2em; 
		font-weight:bold; 
		text-align:right; 
		vertical-align:middle; 
		border:0; 
		border-spacing:0; 
		padding:3
	}
}
@media only screen and ((min-width: 1280px) and (max-width: 1919px)) {
	.capa_cont_tools_sitio {
		position:absolute; 
		left:68%; 
		top:1%; 
		width:31%; 
		height:98%; 
		background-color:#00CC00; 
		overflow:hidden; 
		background-image:url(../pics/tools.jpg); 
		background-position:center; 
		background-size:cover; 
		border-radius:10px; 
		cursor:pointer; 
	}
	.capa_tabla_tools_sitio {
		position:absolute; 
		display:table; 
		left:0; 
		top:100%; 
		height:25%; 
		width:100%; 
		background-color:#000000;
		transition: top .5s;
	}
	.capa_cont_tools_sitio:hover .capa_tabla_tools_sitio {
		transition: top .5s;
		top:75%;		
	}
	.capa_celda_tools_sitio {
		display:table-cell; 
		width:100%; 
		height:100%; 
		color:#FFFFFF; 
		font-size:1.5em; 
		font-weight:bold; 
		text-align:right; 
		vertical-align:middle; 
		border:0; 
		border-spacing:0; 
		padding:3
	}
}
@media only screen and ((min-width: 800px) and (max-width: 1279px)) {
	.capa_cont_tools_sitio {
		position:absolute; 
		left:68%; 
		top:1%; 
		width:31%; 
		height:98%; 
		background-color:#00CC00; 
		overflow:hidden; 
		background-image:url(../pics/tools.jpg); 
		background-position:center; 
		background-size:cover; 
		border-radius:10px; 
		cursor:pointer; 
	}
	.capa_tabla_tools_sitio {
		position:absolute; 
		display:table; 
		left:0; 
		top:100%; 
		height:25%; 
		width:100%; 
		background-color:#000000;
		transition: top .5s;
	}
	.capa_cont_tools_sitio:hover .capa_tabla_tools_sitio {
		transition: top .5s;
		top:75%;		
	}
	.capa_celda_tools_sitio {
		display:table-cell; 
		width:100%; 
		height:100%; 
		color:#FFFFFF; 
		font-size:1.1em; 
		font-weight:bold; 
		text-align:right; 
		vertical-align:middle; 
		border:0; 
		border-spacing:0; 
		padding:3
	}
}
@media only screen and (max-width: 799px) {
	.capa_cont_tools_sitio {
		position:absolute; 
		left:1%; 
		top:305; 
		width:98%; 
		height:300; 
		background-color:#00CC00; 
		overflow:hidden; 
		background-image:url(../pics/tools.jpg); 
		background-position:center; 
		background-size:cover; 
		border-radius:10px; 
		cursor:pointer; 
	}
	.capa_tabla_tools_sitio {
		position:absolute; 
		display:table; 
		left:0; 
		top:75%; 
		height:25%; 
		width:100%; 
		background-color:#000000;
		opacity:0.8;
	}
	.capa_celda_tools_sitio {
		display:table-cell; 
		width:100%; 
		height:100%; 
		color:#FFFFFF; 
		font-size:1.1em; 
		font-weight:bold; 
		text-align:left; 
		vertical-align:middle; 
		border:0; 
		border-spacing:0; 
		padding:3
	}
}