@media only screen and (min-width: 1920px) {
	.capa_marco_disco {
		position:absolute; 
		left:25%; 
		top:155; 
		width:50%; 
		height:10; 
	}
	.capa_linea_datos_disco {
		position:relative; 
		width:100%; 
		height:30; 
		padding:0px; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;
	}
	.tabla_linea_datos_disco {
		width:100%; 
		height:100%; 
		border:0px; 
		border-spacing:0px; 
		padding:0px; 
	}
	.td_linea_datos_disco_01 {
		width:20%; 
		text-align:right; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.td_linea_datos_disco_02 {
		width:80%; 
		text-align:left; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.td_linea_datos_disco_03 {
		width:50%; 
		text-align:center; 
		border:0px; 
		border-spacing:0px; 
		padding:7px 7px 7px 7px;
	}
	.capa_ingreso_celdas {
		position:relative; 
		display:table; 
		width:100%; 
		height:30; 
		background-color:#fff; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;
	}
	.celda_ingreso_celdas {
		display:table-cell; 
		text-align:center; 
		vertical-align:middle;
	}
	.capa_marco_canciones_disco {
		position:relative; 
		width:100%; 
		height:10;
	}
	.capa_lista_canciones_disco {
		display:grid; 
		position:relative; 
		width:100%; 
		grid-template-columns: 50% 50%; 
		padding:0px;
	}
	.capa_etiqueta_lista_disco {
		display:table; 
		height:30; 
		background-color:#000000; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;
	}
	.celda_etiqueta_lista_disco {
		display:table-cell; 
		color:#FFFFFF; 
		font-size:1.5em; 
		text-align:center; 
		vertical-align:middle; 
	}
	.capa_linea_cancion_disco {
		height:30; 
		text-align:center; 
		border:0px; 
		border-spacing:0px; 
		padding:1px;
	}
	.capa_lista_canciones_varios {
		display:grid; 
		position:relative; 
		width:100%; 
		grid-template-columns: 33% 34% 33%; 
		padding:0px; 
	}
	.capa_linea_fotos_disco {
		position:relative; 
		width:100%; 
		height:70; 
		padding:0px; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;	
	}
	#img-dsc-act {
		border:0px; 
		height:65; 
	}
}
@media only screen and ((min-width: 1280px) and (max-width: 1919px)) {
	.capa_marco_disco {
		position:absolute; 
		left:15%; 
		top:135; 
		width:70%; 
		height:10; 
	}
	.capa_linea_datos_disco {
		position:relative; 
		width:100%; 
		height:30; 
		padding:0px; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;
	}
	.tabla_linea_datos_disco {
		width:100%; 
		height:100%; 
		border:0px; 
		border-spacing:0px; 
		padding:0px; 
	}
	.td_linea_datos_disco_01 {
		width:20%; 
		text-align:right; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.td_linea_datos_disco_02 {
		width:80%; 
		text-align:left; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.td_linea_datos_disco_03 {
		width:50%; 
		text-align:center; 
		border:0px; 
		border-spacing:0px; 
		padding:7px 7px 7px 7px;
	}
	.capa_ingreso_celdas {
		position:relative; 
		display:table; 
		width:100%; 
		height:30; 
		background-color:#fff; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;
	}
	.celda_ingreso_celdas {
		display:table-cell; 
		text-align:center; 
		vertical-align:middle;
	}
	.capa_marco_canciones_disco {
		position:relative; 
		width:100%; 
		height:10;
	}
	.capa_lista_canciones_disco {
		display:grid; 
		position:relative; 
		width:100%; 
		grid-template-columns: 50% 50%; 
		padding:0px;
	}
	.capa_etiqueta_lista_disco {
		display:table; 
		height:30; 
		background-color:#000000; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;
	}
	.celda_etiqueta_lista_disco {
		display:table-cell; 
		color:#FFFFFF; 
		font-size:1.5em; 
		text-align:center; 
		vertical-align:middle; 
	}
	.capa_linea_cancion_disco {
		height:30; 
		text-align:center; 
		border:0px; 
		border-spacing:0px; 
		padding:1px;
	}
	.capa_lista_canciones_varios {
		display:grid; 
		position:relative; 
		width:100%; 
		grid-template-columns: 33% 34% 33%; 
		padding:0px; 
	}
	.capa_linea_fotos_disco {
		position:relative; 
		width:100%; 
		height:70; 
		padding:0px; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;	
	}
	#img-dsc-act {
		border:0px; 
		height:65; 
	}
}
@media only screen and ((min-width: 800px) and (max-width: 1279px)) {
	.capa_marco_disco {
		position:absolute; 
		left:10%; 
		top:115; 
		width:80%; 
		height:10; 
	}
	.capa_linea_datos_disco {
		position:relative; 
		width:100%; 
		height:30; 
		padding:0px; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;
	}
	.tabla_linea_datos_disco {
		width:100%; 
		height:100%; 
		border:0px; 
		border-spacing:0px; 
		padding:0px; 
	}
	.td_linea_datos_disco_01 {
		width:20%; 
		text-align:right; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.td_linea_datos_disco_02 {
		width:80%; 
		text-align:left; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.td_linea_datos_disco_03 {
		width:50%; 
		text-align:center; 
		border:0px; 
		border-spacing:0px; 
		padding:7px 7px 7px 7px;
	}
	.capa_ingreso_celdas {
		position:relative; 
		display:table; 
		width:100%; 
		height:30; 
		background-color:#fff; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;
	}
	.celda_ingreso_celdas {
		display:table-cell; 
		text-align:center; 
		vertical-align:middle;
	}
	.capa_marco_canciones_disco {
		position:relative; 
		width:100%; 
		height:10;
	}
	.capa_lista_canciones_disco {
		display:grid; 
		position:relative; 
		width:100%; 
		grid-template-columns: 50% 50%; 
		padding:0px;
	}
	.capa_etiqueta_lista_disco {
		display:table; 
		height:30; 
		background-color:#000000; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;
	}
	.celda_etiqueta_lista_disco {
		display:table-cell; 
		color:#FFFFFF; 
		font-size:1.5em; 
		text-align:center; 
		vertical-align:middle; 
	}
	.capa_linea_cancion_disco {
		height:30; 
		text-align:center; 
		border:0px; 
		border-spacing:0px; 
		padding:1px;
	}
	.capa_lista_canciones_varios {
		display:grid; 
		position:relative; 
		width:100%; 
		grid-template-columns: 33% 34% 33%; 
		padding:0px; 
	}
	.capa_linea_fotos_disco {
		position:relative; 
		width:100%; 
		height:70; 
		padding:0px; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;	
	}
	#img-dsc-act {
		border:0px; 
		height:65; 
	}
}
@media only screen and (max-width: 799px) {
	.capa_marco_disco {
		position:absolute; 
		left:0; 
		top:80; 
		width:100%; 
		height:10; 
	}
	.capa_linea_datos_disco {
		position:relative; 
		width:100%; 
		height:30; 
		padding:0px; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;
	}
	.tabla_linea_datos_disco {
		width:100%; 
		height:100%; 
		border:0px; 
		border-spacing:0px; 
		padding:0px; 
	}
	.td_linea_datos_disco_01 {
		width:20%; 
		text-align:right; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.td_linea_datos_disco_02 {
		width:80%; 
		text-align:left; 
		border:0px; 
		border-spacing:0px; 
		padding:3px;
	}
	.td_linea_datos_disco_03 {
		width:50%; 
		text-align:center; 
		border:0px; 
		border-spacing:0px; 
		padding:7px 7px 7px 7px;
	}
	.capa_ingreso_celdas {
		position:relative; 
		display:table; 
		width:100%; 
		height:30; 
		background-color:#fff; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;
	}
	.celda_ingreso_celdas {
		display:table-cell; 
		text-align:center; 
		vertical-align:middle;
	}
	.capa_marco_canciones_disco {
		position:relative; 
		width:100%; 
		height:10;
	}
	.capa_lista_canciones_disco {
		display:grid; 
		position:relative; 
		width:100%; 
		grid-template-columns: 100%; 
		padding:0px;
	}
	.capa_etiqueta_lista_disco {
		display:none; 
		height:30; 
		background-color:#000000; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;
	}
	.celda_etiqueta_lista_disco {
		display:table-cell; 
		color:#FFFFFF; 
		font-size:1.5em; 
		text-align:center; 
		vertical-align:middle; 
	}
	.capa_linea_cancion_disco {
		height:30; 
		text-align:center; 
		border:0px; 
		border-spacing:0px; 
		padding:1px;
	}
	.capa_lista_canciones_varios {
		display:grid; 
		position:relative; 
		width:100%; 
		grid-template-columns: 100%; 
		padding:0px; 
	}
	.capa_linea_fotos_disco {
		position:relative; 
		width:100%; 
		height:70; 
		padding:0px; 
		border:0px; 
		border-spacing:0px; 
		padding:0px;	
	}
	#img-dsc-act {
		border:0px; 
		height:65;
		display:none;
	}
}